{#{% extends 'base.html' %}#}

{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <title>
        Learngual Chat App | {% if title %}
        {{ title }}
        {% else %}
        Home
        {% endif %}
    </title>
</head>
<body>
    {% block content %}
    <textarea id="chat" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <script>
        let accessToken = localStorage.getItem('accessToken')
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // note: this method of decoding token does not verify the necessary validations. Do not use on production
        let base64Url = accessToken.split('.')[1];
        let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        let jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
        let decodedToken = JSON.parse(jsonPayload)

        let url = `ws://${window.location.host}/ws/chat/${roomName}/?authorization=${accessToken}`
        let requestUserId = decodedToken.sub

        // connect to websocket
        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log('data', data.user_id)
            const chatLog = document.getElementById('chat');

            const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
            const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);

            const isMe = data.user_id === requestUserId
            const source = isMe ? 'me' : 'other'
            const name = isMe ? 'Me' : data.user_id

            {#chatLog.innerHTML += '<div class="message ' + source + '">' +#}
            {#          '<strong>' + name + '</strong> ' +#}
            {#          '<span class="date">' + datetime + '</span><br>' +#}
            {#          data.message + '</div>';#}
            if (isMe){
                chatLog.innerHTML += '<div class="inner-chat" id="inner-chat">data.message</div>'
                {#const innerChat = document.getElementById('inner-chat')#}
                {#innerChat.style.float = 'right'#}
            }
            chatLog.scrollTop = chatLog.scrollHeight;

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
</body>
</html>